@import 'src/_variables.scss';
.settings_tab-switcher {
  block-size: 100%;

  .setting-item {
    border-block-end: 2px solid var(--fg, $fallback--fg);
    margin-block: 1em 1.4em;
    margin-inline: 1em;
    padding-block-end: 1.4em;

    > div,
    > label {
      display: block;
      margin-block-end: .5em;
      &:last-child {
        margin-block-end: 0;
      }
    }

    .select-multiple {
      display: flex;

      .option-list {
        margin: 0;
        padding-inline-start: .5em;
      }
    }

    &:last-child {
      border-block-end: none;
      padding-block-end: 0;
      margin-block-end: 1em;
    }

    select {
      min-inline-size: 10em;
    }

    textarea {
      inline-size: 100%;
      max-inline-size: 100%;
      block-size: 100px;
    }

    .unavailable,
    .unavailable svg {
      color: var(--cRed, $fallback--cRed);
      color: $fallback--cRed;
    }

    .number-input {
      max-inline-size: 6em;
    }
  }
}
