@import '../../_variables.scss';

.notification-reaction-emoji {
  inline-size: 40px;
  display: inline-flex;
  vertical-align: middle;
  flex-direction: column;
}

// TODO Copypaste from Status, should unify it somehow
.Notification {
   border-block-end: 1px solid;
   border-color: $fallback--border;
   border-color: var(--border, $fallback--border);
   word-wrap: break-word;
   word-break: break-word;
   --emoji-size: 14px;

  &:hover {
    --_still-image-img-visibility: visible;
    --_still-image-canvas-visibility: hidden;
    --_still-image-label-visibility: hidden;
  }

  &.-muted {
    padding-block: 0.25em;
    padding-inline: 0.6em;
    block-size: 1.2em;
    line-height: 1.2em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;

    & .status-username,
    & .mute-thread,
    & .mute-words {
      word-wrap: normal;
      word-break: normal;
      white-space: nowrap;
    }

    & .status-username,
    & .mute-words {
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .status-username {
      font-weight: normal;
      flex: 0 1 auto;
      margin-inline-end: 0.2em;
      font-size: smaller;
    }

    .mute-thread {
      flex: 0 0 auto;
    }

    .mute-words {
      flex: 1 0 5em;
      margin-inline-start: 0.2em;

      &::before {
        content: ' ';
      }
    }

    .unmute {
      flex: 0 0 auto;
      margin-inline-start: auto;
      display: block;
    }
  }

  .type-icon {
    margin-block: 0;
    margin-inline: 0.1em;
  }

  &.-type--repeat .type-icon {
    color: $fallback--cGreen;
    color: var(--cGreen, $fallback--cGreen);
  }

  &.-type--follow .type-icon {
    color: $fallback--cBlue;
    color: var(--cBlue, $fallback--cBlue);
  }

  &.-type--follow-request .type-icon {
    color: $fallback--cBlue;
    color: var(--cBlue, $fallback--cBlue);
  }

  &.-type--like .type-icon {
    color: orange;
    color: $fallback--cOrange;
    color: var(--cOrange, $fallback--cOrange);
  }

  &.-type--move .type-icon {
    color: $fallback--cBlue;
    color: var(--cBlue, $fallback--cBlue);
  }
}
