<template>
  <div class="domain-mute-card">
    <div class="domain-mute-card-domain">
      {{ domain }}
    </div>
    <ProgressButton
      v-if="muted"
      :click="unmuteDomain"
      class="btn button-default"
    >
      {{ $t('domain_mute_card.unmute') }}
      <template v-slot:progress>
        {{ $t('domain_mute_card.unmute_progress') }}
      </template>
    </ProgressButton>
    <ProgressButton
      v-else
      :click="muteDomain"
      class="btn button-default"
    >
      {{ $t('domain_mute_card.mute') }}
      <template v-slot:progress>
        {{ $t('domain_mute_card.mute_progress') }}
      </template>
    </ProgressButton>
  </div>
</template>

<script src="./domain_mute_card.js"></script>

<style lang="scss">
.domain-mute-card {
  flex: 1 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.6em 0.6em;
  padding-inline: 0 1em;

  &-domain {
    margin-inline-end: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    inline-size: 10em;
  }

  .autosuggest-results & {
    padding-inline-start: 1em;
  }
}
</style>
