@import 'src/_variables.scss';
.mod_tab-switcher {
  block-size: 100%;

  .content {
    margin-block: 1em 1.4em;
    margin-inline: 1em;

    > div {
      margin-block-end: .5em;
      &:last-child {
        margin-block-end: 0;
      }
    }

    textarea {
      inline-size: 100%;
      max-inline-size: 100%;
      block-size: 100px;
    }
  }
}
