@import '../../../../_variables.scss';
.report-card {
  .report-body {
    & > * {
      padding: 1em;
    }

    & > :not(:last-child) {
      border-block-end: 1px solid;
      border-block-end-color: var(--border, #222);
    }

    .report-content {
      white-space: pre-wrap;
    }

    .report-author {
      padding-block-start: 0.5em;
    }
    .small-avatar {
      block-size: 25px;
      inline-size: 25px;
      padding-inline-end: 0.4em;
      vertical-align: middle;
    }

    .dropdown {
      display: flex;
      flex-direction: column;
      padding: 0;

      .dropdown-header {
        padding: 1em;
        color: var(--link, $fallback--link);

        &:hover {
          background-color: var(--selectedMenu, $fallback--lightBg);
          color: var(--selectedMenuText, $fallback--link);
        }
      }
    }

    .report-note {
      padding: 1em;

      .note-header {
        display: flex;
        justify-content: space-between;
        padding-block-end: 0.5em;
      }

      button {
        margin-inline-start: 0.5em;
      }
    }

    .report-add-note {
      textarea {
        resize: none;
      }

      button {
        min-block-size: 2em;
        min-inline-size: 10em;
        padding-block: 0;
        padding-inline: 2em;
        margin-block-start: 0.5em;
      }
    }
  }

  .panel-footer {
    display: flex;
    & > * {
      margin-inline-end: 0.5em;
    }
  }
}

.reports-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
