
@import '../../_variables.scss';

.with-load-more {
  &-footer {
    padding: 10px;
    text-align: center;
    border-block-start: 1px solid;
    border-block-start-color: $fallback--border;
    border-block-start-color: var(--border, $fallback--border);

    .error {
      font-size: 1rem;
    }

    a {
      cursor: pointer;
    }
  }
}
