@import '../../_variables.scss';

.Timeline {
  .loadmore-text {
    opacity: 1;
  }

  &.-blocked {
    cursor: progress;
  }

  .conversation-heading {
    inset-block-start: calc(var(--__panel-heading-block-size) * var(--currentPanelStack, 2));
    z-index: 2;
  }

  &.-nonpanel {
    .timeline-heading {
      text-align: center;
      line-height: 2.75em;
      padding-block: 0;
      padding-inline: 0.5em;
    }

    .timeline-heading {
      .button-default, .alert {
        line-height: 2em;
        inline-size: 100%;
      }
    }
  }
}
