@import "../../_variables.scss";
@import "../../_logical.scss";

.Status {
  min-inline-size: 0;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;

  &:hover {
    --_still-image-img-visibility: visible;
    --_still-image-canvas-visibility: hidden;
    --_still-image-label-visibility: hidden;
  }

  &.-focused {
    background-color: $fallback--lightBg;
    background-color: var(--selectedPost, $fallback--lightBg);
    color: $fallback--text;
    color: var(--selectedPostText, $fallback--text);

    --lightText: var(--selectedPostLightText, $fallback--light);
    --faint: var(--selectedPostFaintText, $fallback--faint);
    --faintLink: var(--selectedPostFaintLink, $fallback--faint);
    --postLink: var(--selectedPostPostLink, $fallback--faint);
    --postFaintLink: var(--selectedPostFaintPostLink, $fallback--faint);
    --icon: var(--selectedPostIcon, $fallback--icon);
  }

  .gravestone {
    padding: var(--status-margin, $status-margin);
    color: $fallback--faint;
    color: var(--faint, $fallback--faint);
    display: flex;

    .deleted-text {
      margin-block: 0.5em;
      margin-inline: 0;
      align-items: center;
    }
  }

  .status-container {
    display: flex;
    padding: var(--status-margin, $status-margin);

    .content {
      overflow: hidden;
    }

    > * {
      min-inline-size: 0;
    }

    &.-repeat {
      padding-block-start: 0;
    }
  }

  .pin {
    padding-block: var(--status-margin, $status-margin) 0;
    padding-inline: var(--status-margin, $status-margin);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  ._misclick-prevention & {
    pointer-events: none;

    .attachments {
      pointer-events: initial;
      cursor: initial;
    }
  }

  .left-side {
    margin-inline-end: var(--status-margin, $status-margin);
  }

  .right-side {
    flex: 1;
    min-inline-size: 0;
  }

  .usercard {
    margin-block-end: var(--status-margin, $status-margin);
  }

  .status-username {
    white-space: nowrap;
    overflow: hidden;
    max-inline-size: 85%;
    font-weight: bold;
    flex-shrink: 1;
    margin-inline-end: 0.4em;
    text-overflow: ellipsis;

    --_still_image-label-scale: 0.25;
    --emoji-size: 14px;
  }

  .status-favicon {
    block-size: 18px;
    inline-size: 18px;
    margin-inline-end: 0.4em;
  }

  .status-heading {
    margin-block-end: 0.5em;

    .emoji {
      --emoji-size: 16px;
    }
  }

  .heading-name-row {
    display: flex;
    justify-content: space-between;
    line-height: 1.3;

    a {
      display: inline-block;
      word-break: break-all;
    }
  }

  .account-name {
    min-inline-size: 1.6em;
    margin-inline-end: 0.4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 0;
  }

  .heading-left {
    display: flex;
    min-inline-size: 0;
    flex-wrap: wrap;

    img {
      aspect-ratio: 1 / 1;
    }

    .nowrap {
      white-space: nowrap;
    }
  }

  .heading-right {
    display: flex;
    flex-shrink: 0;

    .button-unstyled {
      padding: 5px;
      margin: -5px;
      block-size: min-content;

      &:hover svg {
        color: $fallback--lightText;
        color: var(--lightText, $fallback--lightText);
      }
    }

    .svg-inline--fa {
      margin-inline-start: 0.25em;
    }
  }

  .glued-label {
    display: inline-flex;
    white-space: nowrap;
  }

  .timeago {
    margin-inline-end: 0.2em;
  }

  & .heading-reply-row,
  & .heading-edited-row {
    position: relative;
    align-content: baseline;
    font-size: 0.85em;
    margin-block-start: 0.2em;
    line-height: 130%;
    max-inline-size: 100%;
    align-items: stretch;
  }

  & .reply-to-popover,
  & .reply-to-no-popover,
  & .mentions {
    min-inline-size: 0;
    margin-inline-end: 0.4em;
    flex-shrink: 0;
  }

  .reply-glued-label {
    margin-inline-end: 0.5em;
  }

  .reply-to-popover {
    .reply-to:hover::before {
      content: "";
      display: block;
      position: absolute;
      inset-block-end: 0;
      inline-size: 100%;
      border-block-end: 1px solid var(--faint);
      pointer-events: none;
    }

    .faint-link:hover {
      text-decoration: none;
    }

    &.-strikethrough {
      .reply-to::after {
        content: "";
        display: block;
        position: absolute;
        inset-block-start: 50%;
        inline-size: 100%;
        border-block-end: 1px solid var(--faint);
        pointer-events: none;
      }
    }
  }

  & .mentions,
  & .reply-to {
    white-space: nowrap;
    position: relative;
  }

  & .mentions-text,
  & .reply-to-text {
    color: var(--faint);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mentions-line {
    display: inline;
  }

  .replies {
    margin-block-start: 0.25em;
    line-height: 1.3;
    font-size: 0.85em;
    display: flex;
    flex-wrap: wrap;

    & > * {
      margin-inline-end: 0.4em;
    }
  }

  .reply-link {
    block-size: 17px;
  }

  .repeat-info {
    padding-block: 0.4em;
    padding-inline: var(--status-margin, $status-margin);

    .repeat-icon {
      color: $fallback--cGreen;
      color: var(--cGreen, $fallback--cGreen);
    }
  }

  .repeater-avatar {
    border-radius: var(--avatarAltRadius, $fallback--avatarAltRadius);
    margin-inline-start: 28px;
    inline-size: 20px;
    block-size: 20px;
  }

  .repeater-name {
    text-overflow: ellipsis;
    margin-inline-end: 0;

    .emoji {
      inline-size: 14px;
      block-size: 14px;
      vertical-align: middle;
      object-fit: contain;
    }
  }

  .status-fadein {
    animation-duration: 0.4s;
    animation-name: fadein;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .status-actions {
    position: relative;
    inline-size: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-block-start: var(--status-margin, $status-margin);

    > * {
      min-inline-size: fit-content;
      flex: 1;
    }

    /*
       fix for the unknown factor that makes popover shift rightward
       in vertical-rl mode on Firefox. Bug? To be investigated.
    */
    _:lang(x)::-moz-placeholder, .#{$writing-mode-vertical}rl & .popover {
      margin-block-start: 22px;
    }
  }

  .muted {
    padding-block: 0.25em;
    padding-inline: 0.6em;
    block-size: 1.2em;
    line-height: 1.2em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;

    & .status-username,
    & .mute-thread,
    & .mute-words {
      word-wrap: normal;
      word-break: normal;
      white-space: nowrap;
    }

    & .status-username,
    & .mute-words {
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .status-username {
      font-weight: normal;
      flex: 0 1 auto;
      margin-inline-end: 0.2em;
      font-size: smaller;
    }

    .mute-thread {
      flex: 0 0 auto;
    }

    .mute-words {
      flex: 1 0 5em;
      margin-inline-start: 0.2em;

      &::before {
        content: " ";
      }
    }

    .unmute {
      flex: 0 0 auto;
      margin-inline-start: auto;
      display: block;
    }
  }

  .reply-form {
    padding-block-start: 0;
    padding-block-end: 0;
  }

  .reply-body {
    flex: 1;
  }

  .quote-form {
    padding-block-start: 0;
    padding-block-end: 0;
  }

  .quote-body {
    flex: 1;
  }

  .favs-repeated-users {
    margin-block-start: var(--status-margin, $status-margin);
  }

  .stats {
    inline-size: 100%;
    display: flex;
    line-height: 1em;
  }

  .avatar-row {
    flex: 1;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      block-size: 100%;
      inline-size: 1px;
      inset-inline-start: 0;
      background-color: var(--faint, $fallback--faint);
    }
  }

  .stat-count {
    margin-inline-end: var(--status-margin, $status-margin);
    user-select: none;

    .stat-title {
      color: var(--faint, $fallback--faint);
      font-size: 0.85em;
      text-transform: uppercase;
      position: relative;
    }

    .stat-number {
      font-weight: bolder;
      font-size: 1.1em;
      line-height: 1em;
    }

    &:hover .stat-title {
      text-decoration: underline;
    }
  }

  @media all and (max-width: 800px) {
    .repeater-avatar {
      margin-inline-start: 20px;
    }

    .post-avatar {
      inline-size: 40px;
      block-size: 40px;

      // TODO define those other way somehow?
      // stylelint-disable rscss/class-format
      &.-compact {
        inline-size: 32px;
        block-size: 32px;
      }
    }
  }
  @media all and (max-height: 800px) {
    [class^=#{$writing-mode-vertical}] & {
      .repeater-avatar {
        margin-inline-start: 20px;
      }

      .post-avatar {
        inline-size: 40px;
        block-size: 40px;

        // TODO define those other way somehow?
        // stylelint-disable rscss/class-format
        &.-compact {
          inline-size: 32px;
          block-size: 32px;
        }
      }
    }
  }
}
