.RichContent {
  blockquote {
    margin-block: 0.2em 0.2em;
    margin-inline: 2em 0;
    font-style: italic;
  }

  pre {
    overflow: auto;
  }

  code,
  samp,
  kbd,
  var,
  pre {
    font-family: var(--postCodeFont, monospace);
  }

  p {
    margin-block: 0 1em;
    margin-inline: 0 0;
  }

  p:last-child {
    margin-block: 0 0;
    margin-inline: 0 0;
  }

  h1 {
    font-size: 1.1em;
    line-height: 1.2em;
    margin-block: 1.4em;
    margin-inline: 0;
  }

  h2 {
    font-size: 1.1em;
    margin-block: 1em;
    margin-inline: 0;
  }

  h3 {
    font-size: 1em;
    margin-block: 1.2em;
    margin-inline: 0;
  }

  h4 {
    margin-block: 1.1em;
    margin-inline: 0;
  }

  .img {
    display: inline-block;
  }

  .emoji {
    display: inline-block;
    inline-size: var(--emoji-size, 32px);
    block-size: var(--emoji-size, 32px);
  }

  .img,
  video {
    max-inline-size: 100%;
    max-block-size: 400px;
    vertical-align: middle;
    object-fit: contain;
  }
}
