.mutes-and-blocks-tab {
    block-size: 100%;

    .usersearch-wrapper {
        padding: 1em;
    }

    .bulk-actions {
        text-align: end;
        padding-block: 0;
        padding-inline: 1em;
        min-block-size: 2em;
    }

    .bulk-action-button {
        inline-size: 10em
    }

    .domain-mute-form {
        padding: 1em;
        display: flex;
        flex-direction: column
    }

    .domain-mute-button {
        align-self: flex-end;
        margin-block-start: 1em;
        inline-size: 10em
    }
}
