@import '../../../_variables.scss';
.profile-tab {
  .bio {
    margin: 0;
  }

  .expire-posts-days {
    margin-inline-start: 1em;
  }

  .visibility-tray {
    padding-block-start: 5px;
  }

  input[type=file] {
    padding: 5px;
    block-size: auto;
  }

  .banner-background-preview {
    max-inline-size: 100%;
    inline-size: 300px;
    position: relative;

    img {
      inline-size: 100%;
    }
  }

  .uploading {
    font-size: 1.5em;
    margin: 0.25em;
  }

  .name-changer {
    inline-size: 100%;
  }

  .current-avatar-container {
    position: relative;
    inline-size: 150px;
    block-size: 150px;
  }

  .current-avatar {
    display: block;
    inline-size: 100%;
    block-size: 100%;
    border-radius: $fallback--avatarRadius;
    border-radius: var(--avatarRadius, $fallback--avatarRadius);
  }

  .reset-button {
    position: absolute;
    inset-block-start: 0.2em;
    inset-inline-end: 0.2em;
    border-radius: $fallback--tooltipRadius;
    border-radius: var(--tooltipRadius, $fallback--tooltipRadius);
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.7;
    inline-size: 1.5em;
    block-size: 1.5em;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.5em;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    svg {
      color: white;
    }
  }

  .oauth-tokens {
    inline-size: 100%;

    th {
      text-align: start;
    }

    .actions {
      text-align: end;
    }
  }

  &-usersearch-wrapper {
    padding: 1em;
  }

  &-bulk-actions {
    text-align: end;
    padding-block: 0;
    padding-inline: 1em;
    min-block-size: 2em;

    button {
      inline-size: 10em;
    }
  }

  &-domain-mute-form {
    padding: 1em;
    display: flex;
    flex-direction: column;

    button {
      align-self: flex-end;
      margin-block-start: 1em;
      inline-size: 10em;
    }
  }

  .setting-subitem {
    margin-inline-start: 1.75em;
  }

  .profile-fields {
    display: flex;

    & > .emoji-input {
      flex: 1 1 auto;
      margin-block: 0 0.5em;
      margin-inline: 0.2em;
      min-inline-size: 0;
    }

    .delete-field {
      inline-size: 20px;
      align-self: center;
      margin-block: 0 0.5em;
      margin-inline: 0.2em;
      padding-block: 0;
      padding-inline: 0.5em;
    }
  }
}
