.mrf-section {
  margin: 1em;

  table {
    inline-size:100%;
    text-align: start;
    padding-inline-start:10px;
    padding-block-end:20px;

    th, td {
      inline-size: 180px;
      max-inline-size: 360px;
      overflow:  hidden;
      vertical-align: text-block-start;
    }

    th+th, td+td {
      inline-size: auto;
    }
  }
}
